body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#formulario {
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#numero {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
}

#boton1, #boton2 {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#boton1:hover, #boton2:hover {
    background-color: #3e8e41;
}

#resultado {
    margin-top: 40px;
}

#resultado a {
    text-decoration: none;
    color: #337ab7;
}

#resultado a:hover {
    color: #23527c;
}

#hora-local {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}